h1.title {
  font-size: 60px;
  line-height: 70px;
  align-items: center;
  color: white !important;
  background-color: blue !important;
  width: 90%;
  position: relative;
  display: flex;
  margin-left: 5%;
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajout d'une ombre au texte */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1.author {
  font-weight: normal;
  line-height: 90px;
  margin-top :20%;
}

.quarto-title-author-name {
 margin-top : 3%;
}


h1.slide{
  font-size: 100px;
}


.reveal ul.task-list{list-style: none;}
.reveal ul.task-list li input[type="checkbox"] {
    width: 2em;
    height: 2em;
    margin: 0 1em 0.5em -1.6em;
    vertical-align: middle;
}
.reveal ul.task-list li input[type="checkbox"][disabled] {
    outline:1px solid lightgrey;
}
.reveal ul.task-list li input[type="checkbox"][checked] {
    outline:2px solid green;
}

.reveal ul.task-list li input[type="checkbox"][disabled][checked] {
    outline:2px solid green;
}